.forav{

	width:  450px;
}
.forrg{

	width:  450px;
}
.ywed{

	height: 235px;
}




.fasedin:before{

   content: "\f14b";
    font-family: FontAwesome;
color:#138a43;

}


.faseth:before{

   content: "\f014";
    font-family: FontAwesome;
color:#000000;
}



.fasedinban:before{
color: #ff0000;
   content: "\f05e";
    font-family: FontAwesome;


}

.fasedinunban:before{
color:#138a43;
   content: "\f05d";
    font-family: FontAwesome;


}
